* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

*::before,
*::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  tab-size: 4;
}

button {
  cursor: pointer;
}

input {
  border-radius: 0;
  border: none;
}

li {
  list-style-type: none;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("~/assets/images/weather (1).jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
